@media (max-width: 767px) {
  .navbar {
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .col-5.text-left {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .new {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .slider {
    max-height: 50vh;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #b57f54;

}

.navbar {
  background-color: #b57f54;
  padding: 0;
  padding-bottom: 20px;
}

.nav-item:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.555);
}

.navbar-brand {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 3rem;
  padding: 0 1rem;
  margin: 0;
}

.nav-link {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 2rem;
  margin-right: 3rem;
}

.navbar-toggler {
  border: none;
  background-color: #b57f54;
}

/* Resto del CSS como antes */

.content-section {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #b57f54;
}

.image-slider {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  flex: 1;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  max-width: 100%;
  max-height: 100%;
}

/* Resto del CSS como antes */

.slider img {
  width: 100%;
  height: 100%;
}

.centered-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tittle {
  color: black;
  font-size: 1.25rem;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  margin: 0;
}

.new {
  color: black;
  font-size: 15rem;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  margin: 0;
}

.new:hover {
  color: #ffffff;
}

.grid-item {
  padding: 20px;
  text-align: center;
  border-bottom: 0.010rem solid #b6b5b5;

}

.grid-item img {
  max-width: 100%;
}

.grid-item p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
}


/* ... (otros estilos CSS) */

/* Estilos del producto */
.product {
  position: relative;
}

.product-image {
  position: relative;
  overflow: hidden;
}

.product-image img.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product:hover .hover-image {
  opacity: 1;
}

.product-name {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.product-price {
  font-size: 1rem;
  margin-top: 5px;
  color: #000000;
}

.product-rating {
  margin-top: 5px;
}

.star {
  color: #000000;
  font-size: 1rem;
}

/* Estilos para el primer producto */
.first-product .product-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.product-description  {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-align: left;
  text-align: justify;
}

.shop-link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
  position: relative;
}

.shop-link .arrow {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.shop-link:hover .arrow {
  transform: translateX(5px);
}


/* Loader 

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
*/
